.App {
  text-align: center;
  background-image: url(/public/Background-Images.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width:391px;
  height: 1321px;
  /* border:1px  solid; */
}
.wish{


}
.fwish{
    margin:0;
    padding-top: 35px;
    font-family: 'Allura', cursive;
    font-size: 40px;
    color: white;
    /* border: 1px red solid; */
}
.farewish{
  font-family: 'Actor', sans-serif;
  margin: 0;
   /* border: 1px red solid; */
   padding-top: 5px;
  font-size: 80px;
  font-weight: bolder;
    color: white;
    
}

.teddy{
  height:65px;
  transition: transform 0.5s ease;
}

.photo{
  padding-top: 20px;
  height: 300px;
  margin-left: -140px;
}
.photo2{
  padding-top:35px;
  height: 310px;
  width:330px;
  margin-left: 43px;
}

.photo3{
  padding-top: 50px;
  height: 310px;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.teddy:hover{
  animation: rotate 2s linear forwards; 
}